<div class="container-fluid bg-light text-muted">
    <footer class="text-center text-lg-start">

        <section class="container my-5">
            <div class="row pt-3 gy-4">
                <!-- Company Logo and Description -->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <img src="assets/gocar-branding/gocar-logo-full.png" alt="Company Logo" width="220" height="52">
                    <p class="text-muted ps-3">Our vision is to provide convenience<br> and make renting cars easy.
                    </p>
                </div>

                <!-- Column: About -->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h6 class="text mb-4">About</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-muted">How it works</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Featured</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Partnership</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Business Relation</a></li>
                    </ul>
                </div>

                <!-- Column: Community -->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h6 class="text mb-4">Community</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-muted">Events</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Blog</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Podcast</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Invite a friend</a></li>
                    </ul>
                </div>

                <!-- Column: Socials -->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h6 class="text mb-4">Socials</h6>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a href="#" class="text-muted">Discord</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Instagram</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Twitter</a></li>
                        <li class="mb-3"><a href="#" class="text-muted">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid d-flex border-top pt-3 mt-4 justify-content-between">
                <div class="allrights text-center p-4">
                    © 2023 GOCAR. All rights reserved
                </div>
                <div class="text-center p-4">
                    <a class="text-reset fw-bold me-5" href="#">Privacy & Policy</a>
                    <a class="text-reset fw-bold" href="#">Terms & Conditions</a>
                </div>
            </div>
        </section>


    </footer>

</div>