.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-car-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1.5rem;
}