<h2>Car Inventory</h2>
<hr>
<div class="table-container">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="imgPath">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let car">
                <img *ngIf="car.imgPath" [src]="car.imgPath" alt="Car Image" class="car-image">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.brand }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.model }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="carType">
            <mat-header-cell *matHeaderCellDef> Car Type </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.carType }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rentPrice">
            <mat-header-cell *matHeaderCellDef> Rent Price </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.rentPrice }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="maxSeats">
            <mat-header-cell *matHeaderCellDef> Max Seats </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.maxSeats }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fuelType">
            <mat-header-cell *matHeaderCellDef> Fuel Type </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.fuelType }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transType">
            <mat-header-cell *matHeaderCellDef> Transmission </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{ car.transType }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isRented">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let car" [ngClass]="{'text-green': !car.isRented, 'text-red': car.isRented}">
                {{ car.isRented ? 'Not Available' : 'Available' }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let car">
                <mat-icon class="delete-icon" (click)="openDeleteConfirmation(car)">delete</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

    <button mat-raised-button color="primary" (click)="addCar()">
        <mat-icon>add</mat-icon> Add Car
    </button>

</div>