<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/gocar-branding/gocar-logo-full.png" alt="Gocar" width="220" height="52">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <ul class="navbar-nav d-flex flex-row gap-3 me-1 align-items-center">
            <li class="nav-item me-4 me-lg-0">
                <a class="nav-link" href="#">
                    About us
                </a>
            </li>
            <li class="nav-item me-4 me-lg-0">
                <a class="nav-link" href="#">
                    How to Rent
                </a>
            </li>
            <li class="nav-item me-4 me-lg-0">
                <a class="nav-link" href="#">
                    Rental Deals
                </a>
            </li>
            <li class="nav-item me-4 me-lg-0">
                <a class="nav-link" href="#">
                    Why Choose us
                </a>
            </li>
            <li class="nav-item me-4 me-lg-0">
                <button type="submit" class="btn btn-primary rounded-btn"
                    style="--bs-btn-padding-y: .813rem; --bs-btn-padding-x: 2.5rem;" (click)="goToLogin()">
                    Login
                </button>
            </li>
        </ul>
    </div>
</nav>