<div class="LogInPage">
    <div class="LogInContainer">
        <div class="LogInDetails">
            <div class="Welcome">Welcome</div>
            <div class="Welcome-message">We are glad to see you back with us</div>
            <form>
                <div class="Email">
                    <input type="email" class="form-input" placeholder="Email">
                </div>
                <div class="Password">
                    <input type="password" class="form-input" placeholder="Password">
                </div>
                <button type="submit" class="form-button">Log In</button>
            </form>
            <div class="bottom-text">Forgot password?</div>
            <div class="divider"></div>
            <div class="bottom-text">Don't have an account yet? Register here</div>
        </div>
    </div>
</div>
