* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F6F7F9;
}

.LogInPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.7;
}

.LogInContainer {
    width: 1409px;
    height: 734px;
    position: absolute;
    background: white;
    box-shadow: 3px 8px 20px 4px rgba(81.81, 81.81, 81.81, 0.16);
    border-radius: 42px;
}

.LogInDetails {
    width: 364px;
    height: 465px;
    left: 122px;
    top: 134px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Welcome {
    color: #1C1C1C;
    font-size: 72px;
    font-weight: 700;
}

.Welcome-message {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.Email,
.Password {
    width: 364px;
    height: 52px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 13px;
}

.bi-bi-person,
.bi-bi-lock {
    margin-left: 18px;
    margin-right: 6px;
}

.bi-bi-arrow-left-short {
    margin-top: 54px;
    margin-left: 54px;
    position: absolute;
}

.bi-bi-arrow-left-short:hover {
    cursor: pointer;
}



.form-input {
    width: 300px;
    height: 52px;
    border: none;
    background: #F2F2F2;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
}

.form-input:focus {
    outline: none;
}

.form-button {
    width: 364px;
    height: 52px;
    border-radius: 13px;
    border: none;
    background: #2081F9;
    margin-top: 16px;
    margin-bottom: 34px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.form-button:hover {
    background: #1965c1;
}

.bottom-text {
    height: 21px;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
}

.divider {
    width: 364px;
    height: 1px;
    background: #F0EDFF;
    margin-top: 23px;
    margin-bottom: 23px;
}

.triangle {
    width: 90px;
    margin-top: 109px;
    margin-left: 600px;
    position: absolute;
}

.gocar-logo {
    width: 300px;
    margin-top: 30px;
    margin-left: 1050px;
    position: absolute;
}

.car-model {
    width: 1740px;
    margin-top: -100px;
    margin-left: -100px;
}

.side-text {
    height: 47px;
    margin-top: 136px;
    margin-left: 725px;
    color: #596780;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    position: absolute;
}

@media screen and (max-width: 1100px) {

    .triangle,
    .side-text,
    .car-model {
        display: none;
    }

    .gocar-logo {
        width: 300px;
        margin-top: 0px;
        margin-left: 135px;
        position: absolute;
    }

    .LogInDetails {
        top: 230px;
    }

    .LogInContainer {
        width: 608px;
        height: 797px;
        position: absolute;
        background: white;
        box-shadow: 3px 8px 20px 4px rgba(81.81, 81.81, 81.81, 0.16);
        border-radius: 42px;
    }
}