<div class="container">
    <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-title">
                            <h4 class="float-end font-size-15">Order #1123456 <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                            <div class="mb-4">
                               <h2 class="mb-1 text-muted">gocar.com</h2>
                            </div>
                            <div class="text-muted">
                                <p class="mb-1">Adress</p>
                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> gocar@gmail.com</p>
                                <p><i class="uil uil-phone me-1"></i> 0966 995 3511</p>
                            </div>
                        </div>
    
                        <hr class="my-4">
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3">Customer:</h5>
                                    <h5 class="font-size-15 mb-2">FName LName</h5>
                                    <p class="mb-1">email@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-muted text-sm-end">
                                    <div>
                                        <h5 class="font-size-15 mb-1">Order No:</h5>
                                        <p>#1123456</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="py-2 mt-4">
                            <h5 class="font-size-15">Order Summary</h5>
    
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th class="text-end" style="width: 120px;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="text-muted mb-0">Ford</p>
                                                    <h5 class="text-truncate font-size-14 mb-1">Ranger Raptor</h5>
                                                    <p class="text-muted mb-0">Pickup</p>
                                                </div>
                                            </td>
                                            <td>$ 250.00</td>
                                            <td>1</td>
                                            <td class="text-end">$ 250.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="text-muted mb-0">Extra chuchu</p>
                                                </div>
                                            </td>
                                            <td>$ 250.00</td>
                                            <td>1</td>
                                            <td class="text-end">$250.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3" class="border-0 text-end">Total</th>
                                            <td class="border-0 text-end"><h4 class="m-0 fw-semibold">$500.00</h4></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <a href="#" class="btn btn-primary w-md">Confirm Payment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>