<div class="SignUpDetails">
    <div class="signup">Sign up</div>
    <form action="#" method="post">
        <div class="email">
            <input type="email" class="form-input" placeholder="Email" name="email" [(ngModel)]="email">
        </div>

        <div class="password">
            <input type="password" class="form-input" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <div class="confirm-password">
            <input type="password" class="form-input" placeholder="Confirm Password">
        </div>
        <button type="submit" class="form-button" (click)="register()">Sign up</button>
    </form>
    <div class="divider"></div>
    <div class="bottom-text">
        Already have an account? <a routerLink="/login" class="login-here">Login here</a>
    </div>
</div>