.SignUpDetails {
    width: 364px;
    height: 465px;
    left: 122px;
    top: 134px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {
    width: 364px;
    text-align: start;
    height: 51px;
    color: #1C1C1C;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 71px;
}

.driver-license, .password, .confirm-password {
    width: 364px;
    height: 52px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 13px;
}

.form-input {
    width: 300px;
    height: 52px;
    margin-left: 18px;
    border: none;
    background: #F2F2F2;
    color: #1C1C1C;
    font-size: 12px;
    font-weight: 400;
}

.form-input:focus {
    outline: none;
}

.form-button {
    width: 364px;
    height: 52px;
    border-radius: 13px;
    border: none;
    background: #F99820;
    margin-top: 16px;
    margin-bottom: 34px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.form-button:hover {
    background: #9c5f14;
}

.bottom-text {
    height: 21px;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
}

.divider {
    width: 364px;
    height: 1px;
    background: #F0EDFF;
    margin-bottom: 23px;
}

@media screen and (max-width: 1100px){
    .SignUpDetails {
        top: 230px;
    }
}