<app-user-navbar (searchTermChanged)="onSearchTermChanged($event)"></app-user-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-user-sidebar (filterChanged)="gridCardComponent.setFilterCriteria($event.types, $event.capacities)"
                (maxPriceChanged)="gridCardComponent.setMaxPrice($event)">
            </app-user-sidebar>
        </div>
        <div class="col-md-9 bg-light pt-5 mt-5">
            <app-grid-card #gridCardComponent [searchTerm]="searchTerm"></app-grid-card>
        </div>
    </div>
</div>
<app-footer></app-footer>