<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin Dashboard</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="bi bi-car"></i> Inventory
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="bi bi-people"></i> Users
            </a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <!-- Dynamic content here -->
    </div>
</div>