<div class="SignUpPage">
    <div class="SignUpContainer">

        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi-bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>

        <div class="SignUpDetails">
            <div class="signup">Sign up</div>
            <form>
                <div class="driver-license">
                    <input type="license" class="form-input" placeholder="Driver's License Photo">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                    </svg>

                </div>
                <div class="password">
                    <input type="password" class="form-input" placeholder="Password">
                </div>
                <div class="confirm-password">
                    <input type="password" class="form-input" placeholder="Confirm Password">
                </div>
                <button type="submit" class="form-button">Sign up</button>
            </form>
            <div class="divider"></div>
            <div class="bottom-text">
                Already have an account? <a routerLink="/login">Login here</a>
            </div>
        </div>
        <div class="side-panel">
            <img class="triangle" src="assets/gocar-branding/triangle2.png" alt="triangle">
            <div class="side-text">Your journey starts here.</div>
            <img class="gocar-logo" src="assets/gocar-branding/gocar logo + text - orange transparent.png" alt="GoCar Branding Logo">
            <img class="car-model" src="assets/gocar-branding/ford-ranger raptor 2.png" alt="Car Model">
        </div>
    </div>
</div>
