<div class="SignUpPage">
    <div class="SignUpContainer">

        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi-bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>

        <div class="SignUpDetails">
            <div class="signup">Sign up</div>
            <form>
                <div class="lastname">
                    <input type="lastname" class="form-input" placeholder="Lastname">
                </div>
                <div class="firstname">
                    <input type="firstname" class="form-input" placeholder="Firstname">
                </div>
                <div class="email">
                    <input type="email" class="form-input" placeholder="Email">
                </div>
                <button type="submit" class="form-button" (click)="navigateToSignUp2()" >next

                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi-bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                      
                </button>

            </form>
            <div class="divider"></div>
            <div class="bottom-text">
                Already have an account? <a routerLink="/login">Login here</a>
            </div>
        </div>
        <div class="side-panel">
            <img class="triangle" src="assets/gocar-branding/triangle2.png" alt="triangle">
            <div class="side-text">Your journey starts here.</div>
            <img class="gocar-logo" src="assets/gocar-branding/gocar logo + text - orange transparent.png" alt="GoCar Branding Logo">
            <img class="car-model" src="assets/gocar-branding/ford-ranger raptor 2.png" alt="Car Model">
        </div>
    </div>
</div>
