body {
    background: #F6F7F9;
}

.SignUpPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.7;
}

.SignUpContainer {
    width: 1409px;
    height: 734px;
    position: absolute;
    background: white;
    box-shadow: 3px 8px 20px 4px rgba(81.81, 81.81, 81.81, 0.16);
    border-radius: 42px;
}

.triangle {
    width: 90px;
    margin-top: 109px;
    margin-left: 600px;
    position: absolute;
}

.gocar-logo {
    width: 300px;
    margin-top: 30px;
    margin-left: 1050px;
    position: absolute;
}

.car-model {
    width: 880px;
    margin-top: 189px;
    margin-left: 529px;
}

.side-text {
    height: 47px;
    margin-top: 136px;
    margin-left: 725px;
    color: #596780;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    position: absolute;
}

.bi-bi-arrow-left-short {
    margin-top: 54px;
    margin-left: 54px;
    position: absolute;
}

.bi-bi-arrow-left-short:hover {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {

    .triangle,
    .side-text,
    .car-model {
        display: none;
    }

    .gocar-logo {
        width: 300px;
        margin-top: 0px;
        margin-left: 135px;
        position: absolute;
    }

    .SignUpContainer {
        width: 608px;
        height: 797px;
        position: absolute;
        background: white;
        box-shadow: 3px 8px 20px 4px rgba(81.81, 81.81, 81.81, 0.16);
        border-radius: 42px;
    }
}