/* styling */

.specification {
    width: 24px;
    height: auto;
    padding-right: 4px;
}

.favorite-car-icon {
    width: 24px;
    height: auto;
}

p.card-text {
    font-size: 12px;
    color: #90A3BF;
}

p.price-label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.card-img-overlay {
    height: 100px;
}

.car-brand,
.car-model {
    margin: 0;
}

.car-brand {
    font-size: 11px;
}

.car-model {
    font-size: 18px;
    font-weight: 600;
}

.car-type {
    margin-top: 2px;
    font-size: 16px;
}



/* animations */

.favorite-car-icon {
    transition: transform 0.3s ease-in-out;
}

.favorite-car-icon:hover {
    cursor: pointer;
    transform: translateY(-5px);
}