.specification {
    width: 24px;
    height: auto;
    padding-right: 4px;
}

.favorite-car-icon {
    width: 24px;
    height: auto;
}

p.card-text {
    font-size: 12px;
    color: #90A3BF;
}

p.price-label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}