<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let car of displayedCars; let i = index">
            <div class="card">
                <img [src]="car.imgPath" class="card-img-top" alt="{{ car.model }}">
                <div class="card-img-overlay">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="car-brand">{{ car.brand }}</p>
                                <p class="car-model">{{ car.model }}</p>
                            </div>
                            <div class="col-md-6 d-flex align-items-center justify-content-end">
                                <img src="assets/favorite-car.png" class="favorite-car-icon" alt="Favorite">
                            </div>
                        </div>
                        <p class="car-type">{{ car.carType }}</p>
                    </div>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-between">
                    <div class="row mb-4">
                        <div class="col-md-4 d-flex align-items-stretch justify-content-center">
                            <img src="assets/fuel-type.png" alt="Fuel Type" class="specification">
                            <p class="card-text">{{ car.fuelType }}</p>
                        </div>
                        <div class="col-md-4 d-flex align-items-stretch justify-content-center">
                            <img src="assets/trans-type.png" alt="Transmission Type" class="specification">
                            <p class="card-text">{{ car.transType }}</p>
                        </div>
                        <div class="col-md-4 d-flex align-items-stretch justify-content-center">
                            <img src="assets/max-persons.png" alt="Max Persons" class="specification">
                            <p class="card-text">{{ car.maxSeats }} Pax</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center justify-content-start">
                            <p class="price-label">&#8369;{{ car.rentPrice.toFixed(2) }}/day</p>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary btn-md" type="button" (click)="goToCarRental(i)">Rent
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-primary mt-3" type="button" *ngIf="showSeeMoreButton" (click)="toggleCollapse()"
            data-bs-toggle="collapse" data-bs-target="#collapseRow" aria-expanded="false" aria-controls="collapseRow">
            {{ toggleButtonText }}
        </button>
    </div>
</div>