.YourJourneyText {
    font-size: 48px;
    color: #596780;
    margin: 0;
    line-height: 59.04px;
    word-wrap: break-word;
}

.FindText {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.04px;
    color: #1D1E20;
}

.WithGocarText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #596780;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WeOfferText {
    text-align: center;
    color: #596780;
    margin-top: 79px;
    margin-bottom: 47px;
}

.DownloadButtons {
    display: flex;
    padding: 0;
}

.FirstDisplay {
    display: flex;
}

.threeCars {
    height: 600px;
}

.CarCompanyLogos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rentCards {
    display: flex;
}

.rentCards>p:first-child {
    margin-right: 10px;
}

.rentCards>p:last-child {
    color: #2081F9;
}

.playStore,
.appStore {
    cursor: pointer;
}