* {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

.YourJourneyText {
    font-size: 48px;
    color: #596780;
    line-height: 59.04px;
    font-weight: 300;
    word-wrap: break-word;
}

.LandingPageTop {
    background-color: #F6F7F9;
}

.LandingPageBottomest {
    background-color: #F6F7F9;
}

.FindText {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.04px;
    color: #1D1E20;
}

.WithGocarText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #596780;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.WeOfferText {
    text-align: center;
    color: #596780;
    margin-top: 79px;
    margin-bottom: 47px;
}

.DownloadButtons {
    display: flex;
    padding: 0;
}

.FirstDisplay {
    display: flex;
    position: relative;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.threeCars {
    height: 650px;
    animation-name: slideInFromRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.CarCompanyLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 71px;

}

.CarCompanyLogos div {
    height: 100%;
    align-items: center;
}

.CarCompanyLogos img {
    max-height: 100%;
    width: auto;
}

.playStore,
.appStore {
    transition: transform 0.5s ease-in-out;
}

.playStore:hover,
.appStore:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.CarCompanyLogos img {
    transition: transform 0.5s ease-in-out;
}

.CarCompanyLogos img:hover {
    transform: scale(1.15);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}


.content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.LeftContainer {
    z-index: 2;
    position: relative;
}

.RightContainer {
    position: absolute;
    top: -50px;
    left: 270px;
    z-index: 1;
}

.extend {
    height: 123px;
}

.HowToRent {
    margin-top: 100px
}

.HowToRent :first-child {
    color: #596780;
    font-weight: 500;
    font-size: 32px;
    line-height: 39.36px;
    text-align: center;
}

.HowToRent :nth-child(2) {
    color: #0072FF;
    font-weight: 700;
    font-size: 48px;
    line-height: 59.04px;
    text-align: center;
}

.HowToRent :nth-child(3) {
    color: #F99820;
    font-weight: 700;
    font-size: 48px;
    line-height: 59.04px;
    text-align: center;
}

/* @-webkit-keyframes swirl-in-fwd {
    0% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
} */

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.Easy {
    position: relative;
    opacity: 0;
    -webkit-animation: scale-in-center .4s ease-out 2s 1 forwards, heartbeat 1.5s ease-in 3.4s infinite;
    animation: scale-in-center .4s ease-out 2s 1 forwards, heartbeat 1.5s ease-in 3.4s infinite;
}


.Easy img {
    position: absolute;
}

@keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

.icon-container,
.icon-container2 {
    width: 230px;
    height: 230px;
    background: white;
    box-shadow: 0px 6px 25px 6px rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    position: relative;
    opacity: 0;
    -webkit-animation: scale-in-center .4s ease-out 2s 1 forwards, heartbeat 1.5s ease-in 3.4s infinite;
    animation: scale-in-center .4s ease-out 2s 1 forwards, heartbeat 1.5s ease-in 3.4s infinite;
}

.icon-container img.lower {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;

}


.icon-container2 {
    width: 230px;
    height: 230px;
    background: rgb(14, 122, 255);
    background: linear-gradient(328deg, #0072FF -30%, rgba(92, 147, 215, 0.00) 182.92%, rgba(14, 122, 255, 0.00) 182.94%);
    box-shadow: 0px 6px 25px 6px rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.SetPickupCard :nth-child(2),
.BookCarCard :nth-child(2),
.ChooseCarCard :nth-child(2) {
    color: #596780;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    margin-bottom: 20px;
}

.SetPickupCard :last-child,
.BookCarCard :last-child,
.BookCarCard :nth-last-child(2),
.ChooseCarCard :last-child {
    color: #90A3BF;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.Steps {
    justify-content: space-between;
}

.Facamz {
    color: #596780;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    margin-bottom: 20px;
}

#facamars {
    color: #596780;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.52px;
    text-align: center;
    margin-bottom: 20px;
}

/* Targeting the first image */
.icon-container:nth-child(1) img {
    object-position: center 30%;
}

/* Targeting the second image */
.icon-container:nth-child(2) img {
    object-position: center 30%;
}