<app-landing-nav></app-landing-nav>

<div class="LandingPage">
    <div class="LandingPageTop " id="whyChooseUs">
        <div class="container FirstDisplay pt-5">
            <div class="content-wrapper position-relative">
                <div class="LeftContainer">
                    <div class="mt-5 YourJourneyText">
                        <p>Your journey</p>
                        <p>starts here.</p>
                    </div>
                    <div class="mt-5 FindText">
                        <p>Find, book, and</p>
                        <div class="d-flex RentCarsInEasy">
                            <p class="me-2">rent cars in</p>
                            <div class="d-flex flex-column Easy">
                                <span style="color:#2081F9">Easy</span>
                                <img src="assets/gocar-branding/check 1.png" alt="check" class="check">
                            </div>
                        </div>
                        <p>steps.</p>
                    </div>
                    <div class="mt-5 WithGocarText">
                        <p>With <span style="color:#F99820">gocar</span>, you can get a car as well wherever and
                            whenever
                            you need it</p>
                        <p>through your Android or
                            iOS device</p>
                    </div>
                    <div class="mt-3 gap-3 DownloadButtons">
                        <a href="https://play.google.com/store/apps?hl=en&gl=US" target="_blank">
                            <img src="assets/gocar-branding/get-it-on-google-play 1.png" alt="get-it-on-google-play"
                                class="playStore">
                        </a>
                        <a href="https://www.apple.com/ph/app-store/" target="_blank">
                            <img src="assets/gocar-branding/download-on-app-store 1.png" alt="get-it-on-google-play"
                                class="appStore">
                        </a>
                    </div>
                </div>
                <div class="RightContainer">
                    <img src="assets/gocar-branding/gocar landing page bg-v2.png" alt="landing page cars"
                        class="threeCars">
                </div>
            </div>
        </div>
        <div class=" container WeOfferText">
            <p>We offer various cars that meet your unique travel requirements.</p>
        </div>
        <div class="container">
            <div class="extend">
                <div class="mb-5 d-flex gap-5 flex-row CarCompanyLogos align-items-center">
                    <div>
                        <a href="https://www.toyota.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/toyota-logo.png" alt="Toyota Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.nissanusa.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/nissan-logo.png" alt="Nissan Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.suzukimotorcycle.co.in" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/suzuki-logo.png" alt="Suzuki Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.ford.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/ford-logo (2).png" alt="Ford Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.honda.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/honda-logo.png" alt="Honda Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.mitsubishi-motors.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/mitsubishi-logo.png" alt="Mitsubishi Logo"
                                class="car-logo">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.hyundai.com" target="_blank">
                            <img src="assets/gocar-branding/car brand logos/hyundai-logo.png" alt="Hyundai Logo"
                                class="car-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LandingPageBottom mb-5 pb-5 pt-2" id="howToRent">
        <div class="HowToRent mb-5">
            <p class="">HOW TO RENT</p>
            <p>Car Booking Made Easy</p>
            <p>in 3 simple steps:</p>
        </div>
        <div class="container d-flex Steps">
            <div class="ChooseCarCard">
                <div class="icon-container">
                    <img src="assets/gocar-branding/Search.png" alt="check" class="check">
                </div>
                <p>Choose your car</p>
                <p>Select your preferred car from our list</p>
            </div>
            <div class="SetPickupCard">
                <div class="icon-container2">
                    <img src="assets/gocar-branding/Schedule.png" alt="check" class="check">
                </div>
                <p>Set pickup date</p>
                <p>Set the date and time to rent the car</p>
            </div>
            <div class="BookCarCard">
                <div class="icon-container">
                    <img src="assets/gocar-branding/Car (1).png" alt="check" class="check">
                </div>
                <p>Book your car</p>
                <p>Confirm booking to reserve car for the</p>
                <p>specified pickup date and time.</p>
            </div>
        </div>
    </div>
</div>