<app-navbar></app-navbar>
<div class="LandingPage">
    <div class="LandingPageTop">
        <div class="container FirstDisplay">
            <div class="LeftContainer">
                <div class="YourJourneyText">
                    <p>Your journey</p>
                    <p>starts here.</p>
                </div>
                <div class="FindText">
                    <p>Find, book, and </p>
                    <div class="rentCardsinEasy">
                        <div class="rentCards">
                            <p>rent cards in </p>

                            <p> Easy</p>
                        </div>
                    </div>
                    <p>steps.</p>
                </div>
                <div class="WithGocarText">
                    <p>With <span style="color:#F99820">gocar</span>, you can get a car as well wherever and whenever
                        you need it through your Android or
                        iOS device</p>
                </div>
                <div class="DownloadButtons">
                    <img src="assets/gocar-branding/get-it-on-google-play 1.png" alt="get-it-on-google-play"
                        class="playStore">
                    <img src="assets/gocar-branding/download-on-app-store 1.png" alt="get-it-on-google-play"
                        class="appStore">
                </div>
            </div>
            <div class="RightContainer">
                <img src="assets/gocar-branding/gocar landing page bg-v2.png" alt="landing page cars" class="threeCars">
            </div>
        </div>
        <div class=" container WeOfferText">
            <p>We offer various cars that meet your unique travel requirements.</p>
        </div>
        <div class="CarCompanyLogos">
            <img src="assets/gocar-branding/car brand logos/car-brands.png" alt="CarCompanyLogos"
                class="CarCompanyLogos">
        </div>
    </div>



    <div class="LandingPageBottom">

    </div>
</div>