<div class="SignUpDetails">
    <div class="signup">Sign up</div>
    <form action="#" method="post" (submit)="register()">
        <div class="email">
            <input type="email" class="form-input" placeholder="Email" name="email"
                [(ngModel)]="userDetailsWithFile.userDetails.email">
        </div>

        <div class="password">
            <input type="password" class="form-input" placeholder="Password" name="password"
                [(ngModel)]="userDetailsWithFile.userDetails.password">
        </div>
        <div class="confirm-password">
            <input type="password" class="form-input" placeholder="Confirm Password" name="confirmPassword"
                [(ngModel)]="confirmPassword">
        </div>
        <button type="submit" class="form-button" [disabled]="isLoading">Sign up</button>
        <div *ngIf="isLoading" class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </form>
    <hr class="divider">
    <div class="bottom-text">
        Already have an account? <a routerLink="/login" class="login-here">Login here</a>
    </div>
</div>