* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F6F7F9;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    margin-left: 6%;
    align-items: center;
    justify-content: center;
    scale: 0.7;
}

.wrapper {
    width: 608px;
    height: 797px;
    position: relative;
    margin: auto;
    background: white;
    box-shadow: 3px 8px 20px 4px rgba(81.81, 81.81, 81.81, 0.16);
    border-radius: 42px;
}

.content {
    width: 364px;
    height: 465px;
    left: 122px;
    top: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.forgotPassword {
    color: #1C1C1C;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    margin-bottom: 50px;
}

.message {
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.Email {
    width: 364px;
    height: 52px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 13px;
}

.bi-bi-person {
    margin-left: 18px;
    margin-right: 6px;
}


.bi-bi-arrow-left-short {
    margin-top: 54px;
    margin-left: 54px;
    position: absolute;
}

.bi-bi-arrow-left-short:hover {
    cursor: pointer;
}

.form-input {
    width: 300px;
    height: 52px;
    border: none;
    background: #F2F2F2;
    color: #1C1C1C;
    font-size: 14px;
    font-weight: 400;
}

.form-input:focus {
    outline: none;
}

.form-button {
    width: 364px;
    height: 52px;
    border-radius: 13px;
    border: none;
    background: #2081F9;
    margin-top: 16px;
    margin-bottom: 34px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.form-button:hover {
    background: #1965c1;
}

.bottom-text {
    height: 21px;
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.register-here {
    text-decoration: none;
    font-weight: 600;
}

.divider {
    width: 364px;
    background: #F0EDFF;
    margin-top: 23px;
    margin-bottom: 23px;
}

.gocar-logo {
    width: 300px;
    margin-top: 30px;
    margin-left: 250px;
    position: absolute;
}