.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
    background-color: #ffff;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 492px;
    margin-right: 115px;
}

.search-input {
    width: 100%;
    padding: 10px 20px 10px 60px;
    font-size: 16px;
    border: 1px solid rgba(195, 212, 233, 0.55);
    border-radius: 30px;
    outline: none;
}

.search-input:focus {
    /* border-color: #86b7fe; */
    /* box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25); */
    box-shadow: 0 0 0 0.1rem rgba(32, 129, 249, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45.6px;
    height: 45.6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(195, 212, 233, 0.40);
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navbar-nav .nav-item .nav-link svg {
    fill: #596780;
}

.navbar-nav .nav-item .nav-link svg {
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

#avatar {
    width: 45px;
    height: 45px;
}